[submodule "humanizer"]
	path = humanizer
	url = https://github.com/blader/humanizer.git
[submodule "stop-bullshit"]
	path = stop-bullshit
	url = https://github.com/preference-kim/stop-bullshit.git
	branch = main
[submodule "simple-english"]
	path = simple-english
	url = https://github.com/AminBlg/SimpleEnglish.git
	branch = main
	skill-path = skills/simple-english
